<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
        layout="${longdate} : ${message}"
        fileName="${basedir}/logs/log.txt"
        archiveNumbering="Rolling"
        archiveEvery="Day"
        maxArchiveFiles="30"
        />
    <target xsi:type="EventLog"
            name="EventLog"
            source="Analitica.ExternalResourcesFetcherEventLog"
            layout="${message}${newline}${exception:format=ToString}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="EventLog" />
  </rules>
</nlog>